<th:block th:fragment="adminTaskRows">
    <tr th:each="task : ${tasks}">
        <td>
            <a th:text="${task.title}"
               class="text-decoration-none fw-medium text-primary"
               href="javascript:void(0)"
               hx-target="body"
               th:attr="hx-get=@{/task/expanded/{id}(id=${task.id})}"
               hx-trigger="click"
               hx-swap="beforeend">
            </a>
        </td>
        <td>
            <div class="fw-semibold" th:text="${#temporals.format(task.dueDate, 'dd/MM/yyyy HH:mm')}">Due</div>
            <div class="text-muted small" th:text="${#temporals.format(task.assignedDate, 'dd/MM/yyyy')}">Assigned</div>
        </td>
        <td th:text="${task.assignedTo.empId}">
            Assignee
        </td>
        <td>
                        <span class="badge rounded-pill px-3 py-2  fw-semibold"
                              th:classappend="' bg-' + ${task.status.name().toLowerCase().replace('_', '-')}"
                              th:text="${task.status.displayName}">
                          Status
                        </span>
        </td>
        <td >
            <form hx-post="/admin-remind-mail"
                  hx-swap="none">
                <input type="hidden"
                       name="taskId"
                       th:value="${task.id}" />
                <button type="submit">Remind</button>
            </form>
        </td>
    </tr>
</th:block>