<div th:fragment="taskCount"  >

  <div id="taskTableContainer"
       class="text-gray-300 hover:bg-gray-700"
       hx-get="/fragments/task-card"
       hx-trigger="load"
       hx-swap="innerHTML">
    <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#home"></use></svg>
    Loading table...
  </div>

<!--  <div id="adminTaskCountCard"-->
<!--       hx-get="/fragments/task-ca">-->
<!--    -->
<!--  </div>-->


  <div id="adminTaskTableContainer"
         class="text-gray-300 hover:bg-gray-700"
         hx-get="/fragments/admin-tasks"
         hx-trigger="load"
         hx-swap="innerHTML">
      <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#home"></use></svg>
      Loading table...
    </div>



  <div id="popupContainer"></div>

  <div id="calendar"></div>
  <div id="taskList"></div>

</div>
<script>
  <!--  calendar-->
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: '/api/tasks/calendar-events',
      dateClick: function (info) {
        htmx.ajax('GET', '/tasks/by-date?date=' + info.dateStr, {
          target: '#taskList'
        });
      }
    });

    calendar.render();
  }); [
</script>