<div th:fragment="taskCount"  >
  <div class="task-status-container" style="display: flex; gap: 1rem; justify-content: space-around;">

  <!-- To Do Card -->
  <div class="task-card">
    <h2>To Do</h2>
    <div id="todoCount" hx-get="/task/status-count?status=TODO" hx-trigger="load" hx-target="#todoCount" hx-swap="innerHTML">
      Loading...
    </div>
  </div>

  <!-- In Progress Card -->
  <div class="task-card">
    <h2>In Progress</h2>
    <div id="inProgressCount" hx-get="/task/status-count?status=IN_PROGRESS" hx-trigger="load" hx-target="#inProgressCount" hx-swap="innerHTML">
      Loading...
    </div>
  </div>

  <!-- Done Card -->
  <div class="task-card">
    <h2>Done</h2>
    <div id="doneCount" hx-get="/task/status-count?status=DONE" hx-trigger="load" hx-target="#doneCount" hx-swap="innerHTML">
      Loading...
    </div>
  </div>

<!--  <div th:replace="~{fragments/task-card :: taskCard}"></div>-->

</div>

<div id="taskTableContainer"
     class="text-gray-300 hover:bg-gray-700"
     hx-get="/fragments/task-card"
     hx-trigger="load"
     hx-swap="innerHTML">
  <svg class="bi me-2" width="16" height="16" fill="currentColor"><use xlink:href="#home"></use></svg>
  Loading table...
</div>
</div>
<style>
</style>