<div th:fragment="userTaskForm" class="task-form-container">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
<form  hx-post="/api/tasks/create"
       hx-swap="none"
       autocomplete="off"
       id="taskForm">

    <input type="text" name="fakeuser" autocomplete="username" style="display:none">
    <input type="password" name="fakepass" autocomplete="new-password" style="display:none">

    <h3 class="card-title">Create a Task</h3>

    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title..." required>

    <label for="description" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Enter description..." >

    <label for="dueDate" class="form-label">Due Date</label>
    <input type="datetime-local" class="form-control" id="dueDate" name="dueDate" required>


    <input type="hidden" name="assignedById" th:value="${#authentication.name}" />
    <input type="hidden" name="assignedToId" th:value="${#authentication.name}" />
    <input type="hidden" name="status" value="TODO">

    <button type="submit">Create</button>
</form>

<!-- Success Popup -->
<div class="success-popup" id="successPopup">
    <i class="fas fa-check-circle"></i>
    <span>Task created successfully!</span>
    <span class="close-btn" id="closeSuccessPopup">&times;</span>
</div>

<!-- Error Popup -->
<div class="error-popup" id="errorPopup">
    <i class="fas fa-exclamation-circle"></i>
    <span id="errorMessage">Failed to create task</span>
    <span class="close-btn" id="closeErrorPopup">&times;</span>
</div>
</div>