<div th:fragment="userSidebar"
     id="userSidebar"
     class="d-flex flex-column flex-shrink-0 p-3 bg-light"
     style="width: 280px; min-height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">TaskManager</span>
  </a>
  <hr>

  <ul class="nav nav-pills flex-column mb-5">
    <li class="nav-item">
      <a href="#" class="nav-link  sidebar-link" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Tasks
      </a>
    </li>
    <li>
      <a href="javascript:void(0)"
         class="nav-link sidebar-link"
         hx-get="/dashboard/task/new"
         hx-target="#taskContentContainer"
         hx-swap="innerHTML"
         hx-trigger="click">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Create
      </a>
    </li>
    <l1>
      <div class="d-flex flex-column align-items-center justify-content-center mt-auto">
        <hr class="w-100 mb-2"> <!-- Horizontal bar just above the section -->
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <strong th:text="${empName + ' ' + empId}">Username Employee ID</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <form method="post" action="/logout">
                <button class="dropdown-item">Sign out</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </l1>
  </ul>

</div>
<script>
  document.getElementById('createTaskBtn').addEventListener('click', function() {
      fetch('/dashboard/task/new')
          .then(response => response.text())
          .then(html => {
              document.getElementById('taskContentContainer').innerHTML = html;
          });
  });
</script>