<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>Task Management System</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
<div>
    <h1>Task Management System</h1>
    <div>
        <h2>Login</h2>
        <form method="post"
              action="/login"
              class="space-y-4">
            <div>
                <label for="username" class="block mb-1">Employee ID</label>
                <input type="text" id="username" name="username" required
                       class="w-full p-2 border rounded">
            </div>

            <div>
                <label for="password" class="block mb-1">Password</label>
                <input type="password" id="password" name="password" required
                       class="w-full p-2 border rounded">
            </div>

            <div>
                <span>
                <label for="rememberMe" class="block mb-1">Remember Me</label>
                <input type="checkbox" id="rememberMe" name="rememberMe"
                       class="mr-2">
                    </span>
            </div>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
                Login
            </button>

        </form>
    </div>
</div>
</body>
</html>