<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>Task Management System</title>
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
<div>
    <h1>Task Management System</h1>
    <div>
        <h2>Register new Employee</h2>
        <form hx-post="/api/auth/register"
              hx-swap="none"
              class="space-y-4">
            <div>
                <label for="empId" class="block mb-1">Employee ID</label>
                <input type="text" id="empId" name="empId" required
                       class="w-full p-2 border rounded">
            </div>

            <div>
                <label for="email" class="block mb-1">Email</label>
                <input type="email" id="email" name="email" required
                       class="w-full p-2 border rounded">
            </div>

            <div>
                <label for="name" class="block mb-1">Full Name</label>
                <input type="text" id="name" name="name" required
                       class="w-full p-2 border rounded">
            </div>

            <div>
                <label for="password" class="block mb-1">Password</label>
                <input type="password" id="password" name="password" required
                       class="w-full p-2 border rounded">
            </div>

            <!-- Role Selection (for admin use) -->
            <div class="space-y-2">
                    <label for="role">Role:</label>
                    <select id="role" name="roles" class="ml-2 p-2 border rounded">
                        <option value="ROLE_ADMIN">Admin</option>
                        <option value="ROLE_USER" selected>Regular User</option>
                    </select>
            </div>

            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">
                Register
            </button>
        </form>
    </div>
</div>
</body>
</html>